<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Where on earth!</title>
</head>
<body style ="text-align:center ;color:white;display:flex ; align-items:center; justify-content:center;flex-direction:column; background:linear-gradient(270deg, #e65575, rgb(254, 95, 129));font-family: 'Quicksand', sans-serif; margin:0px ; padding:0px ; width:100vw ; height: 100vh; overflow: hidden">
    <h1 style="font-weight: 300 ; font-size: 60px">Where is  <b style="text-transform: uppercase">"<%=lmao%>"</b> ?</h1>
    <h1 style="font-weight: 300">Can we go there for vacation please?...PLEASE?</h1>
</body>
</html>